In [ ]:
# Data Science for Medicine and Biology
#
# Nezu Life Sciences
#
# Feel free to modify, redistribute and above all,
# create something with this code.
#
# Tiago Lopes, PhD
# March 2024


# Import the Pandas package
# and create a small data frame

import pandas as pd

data = {
    'Name': ['John Doe', 'Jane Smith', 'Alice Johnson'],
    'Age': [28, 34, 45],
    'Blood Type': ['A', 'B', 'O']
}

df = pd.DataFrame(data)

print(df)

            Name  Age Blood Type
0       John Doe   28          A
1     Jane Smith   34          B
2  Alice Johnson   45          O

In [ ]:
# Import a large dataset from the Nezu Life Sciences repository
# Print its "shape" (number of rows and columns)
# and its first 5 rows.

import pandas as pd

URL = "https://raw.githubusercontent.com/Nezu-life/Machine_Learning_Course_English/main/Intro_to_Python/datasets/synthetic_patient_records.csv"

patients = pd.read_csv(URL, sep=",")

In [ ]:
print(patients.shape)

(1000, 11)

In [ ]:
print(patients.head(5))

  Patient ID   Age  Gender  Height  Weight Blood_Type  Cholesterol  \
0   PID-0001  69.0    Male   177.1   146.6         A-        220.2
1   PID-0002   NaN    Male   192.1   105.8         B+          NaN
2   PID-0003  89.0   Other   174.2    84.7         O+        136.3
3   PID-0004  78.0  Female   141.8   108.0        AB-        147.8
4   PID-0005  38.0    Male   195.9    63.9         A-        224.2

   Blood_Pressure_h  Blood_Pressure_l  Diabetes  Smoker
0             138.0              84.0     False   False
1              99.0              81.0     False   False
2             105.0              75.0      True    True
3              97.0              88.0      True   False
4             128.0              87.0     False   False

In [ ]:
print(patients.tail(5))

    Patient ID   Age  Gender  Height  Weight Blood_Type  Cholesterol  \
995   PID-0996  30.0   Other   155.6   130.4         A-        194.8
996   PID-0997  79.0  Female   151.7   121.5         B+        209.0
997   PID-0998  99.0  Female   143.5     NaN         B+        216.6
998   PID-0999  77.0  Female   160.5    55.3         B+        221.4
999   PID-1000  60.0  Female   156.2    95.5        AB+        167.4

     Blood_Pressure_h  Blood_Pressure_l  Diabetes  Smoker
995             108.0              89.0      True    True
996             117.0              62.0     False   False
997             132.0              70.0     False   False
998             120.0              76.0     False   False
999             137.0              66.0     False    True

In [ ]:
# Selecting only one feature of our dataset

bloodTypes = patients["Blood_Type"]

bloodTypes = patients.Blood_Type # Same as above

print(bloodTypes)

0       A-
1       B+
2       O+
3      AB-
4       A-
      ...
995     A-
996     B+
997     B+
998     B+
999    AB+
Name: Blood_Type, Length: 1000, dtype: object

In [ ]:
# Prints only the first row of the patients data frame
thisPatient = patients.iloc[0]

print(thisPatient)

Patient ID          PID-0001
Age                     69.0
Gender                  Male
Height                 177.1
Weight                 146.6
Blood_Type                A-
Cholesterol            220.2
Blood_Pressure_h       138.0
Blood_Pressure_l        84.0
Diabetes               False
Smoker                 False
Name: 0, dtype: object

In [ ]:
# Prints only the 10th row of the patients data frame
thisPatient = patients.iloc[9]

print(thisPatient)

Patient ID          PID-0010
Age                     39.0
Gender                 Other
Height                   NaN
Weight                 149.4
Blood_Type                B-
Cholesterol            188.9
Blood_Pressure_h       115.0
Blood_Pressure_l        85.0
Diabetes                True
Smoker                 False
Name: 9, dtype: object

In [ ]:
# Prints only the rows 3-5 of the patients data frame
thisPatient = patients.iloc[0:5]

print(thisPatient)

  Patient_ID   Age  Gender Blood_Type  Cholesterol  Blood_Pressure_h  \
0   PID-0001  69.0    Male         A-        220.2             138.0
1   PID-0002   NaN    Male         B+          NaN              99.0
2   PID-0004  78.0  Female        AB-        147.8              97.0
3   PID-0005  38.0    Male         A-        224.2             128.0
4   PID-0006  92.0   Other         O-        231.2               NaN

   Blood_Pressure_l  Diabetes  Smoker        BMI
0              84.0     False   False  46.740876
1              81.0     False   False  28.670214
2              88.0      True   False  53.711996
3              87.0     False   False  16.650680
4               NaN      True   False  28.687812

In [ ]:
# Prints rows 0-10 of the patients data frame
thisPatient = patients.iloc[0:9]

print(thisPatient)

  Patient_ID   Age  Gender Blood_Type  Cholesterol  Blood_Pressure_h  \
0   PID-0001  69.0    Male         A-        220.2             138.0
1   PID-0002   NaN    Male         B+          NaN              99.0
2   PID-0004  78.0  Female        AB-        147.8              97.0
3   PID-0005  38.0    Male         A-        224.2             128.0
4   PID-0006  92.0   Other         O-        231.2               NaN
5   PID-0010  39.0   Other         B-        188.9             115.0
6   PID-0011  70.0    Male        AB+        167.1             103.0
7   PID-0015  19.0   Other         O+        214.5              93.0
8   PID-0017  77.0    Male         A+        124.8              91.0

   Blood_Pressure_l  Diabetes  Smoker        BMI
0              84.0     False   False  46.740876
1              81.0     False   False  28.670214
2              88.0      True   False  53.711996
3              87.0     False   False  16.650680
4               NaN      True   False  28.687812
5              85.0      True   False        NaN
6              66.0      True   False  43.021734
7              88.0     False   False  34.328400
8              73.0     False   False  19.942754

In [ ]:
# Prints rows 0-5 of the Height column of the patients data frame
thisPatient = patients.iloc[:5, 3]

print(thisPatient)

0    177.1
1    192.1
2    174.2
3    141.8
4    195.9
Name: Height, dtype: float64

In [ ]:
# Selects only some columns and rows from a data frame
miniDF = patients.loc[:100, ["Patient ID", "Age", "Height", "Weight"]]

print(miniDF.head(5))

  Patient ID   Age  Height  Weight
0   PID-0001  69.0   177.1   146.6
1   PID-0002   NaN   192.1   105.8
2   PID-0003  89.0   174.2    84.7
3   PID-0004  78.0   141.8   108.0
4   PID-0005  38.0   195.9    63.9

In [ ]:
# Creates a data frame with older female patients

olderFemales = patients.loc[(patients["Age"] > 80) & (patients["Gender"] == "Female")]

print(olderFemales)

    Patient ID   Age  Gender  Height  Weight Blood_Type  Cholesterol  \
6     PID-0007  92.0  Female   180.6   112.6         O+        170.4
39    PID-0040  90.0  Female   154.3    78.6         A-        130.0
49    PID-0050  88.0  Female   171.1   132.8         B-        188.6
68    PID-0069  91.0  Female     NaN   122.3         O-        147.6
77    PID-0078  97.0  Female   188.2    50.9         A-        208.6
..         ...   ...     ...     ...     ...        ...          ...
958   PID-0959  83.0  Female   167.2    54.0         A+          NaN
961   PID-0962  91.0  Female   169.1    52.2         A-        184.1
975   PID-0976  93.0  Female   147.0   106.3         O-        175.8
990        NaN  89.0  Female   172.5   102.8        AB-        172.0
997   PID-0998  99.0  Female   143.5     NaN         B+        216.6

     Blood_Pressure_h  Blood_Pressure_l  Diabetes  Smoker
6               109.0              75.0      True    True
39              135.0              65.0     False    True
49              137.0              66.0     False    True
68              130.0              69.0     False   False
77               93.0              77.0     False    True
..                ...               ...       ...     ...
958             105.0              66.0     False    True
961             101.0              62.0     False    True
975             123.0              74.0      True    True
990             107.0              64.0      True    True
997             132.0              70.0     False   False

[67 rows x 11 columns]

In [ ]:
# Selects patients who have O+ or O- blood types

o_type_only = patients.loc[patients["Blood_Type"].isin(["O+", "O-"])]

print(o_type_only)

    Patient ID   Age  Gender  Height  Weight Blood_Type  Cholesterol  \
2     PID-0003  89.0   Other   174.2    84.7         O+        136.3
5     PID-0006  92.0   Other   181.4    94.4         O-        231.2
6     PID-0007  92.0  Female   180.6   112.6         O+        170.4
11    PID-0012  19.0  Female   146.4   112.3         O+        123.4
14    PID-0015  19.0   Other   142.9    70.1         O+        214.5
..         ...   ...     ...     ...     ...        ...          ...
976   PID-0977  62.0    Male   197.4   112.5         O-        147.2
977   PID-0978  19.0  Female   158.8   136.4         O+        209.3
986   PID-0987  28.0    Male   160.4   109.7         O+        188.3
987   PID-0988  91.0   Other   172.5   142.8         O+        211.5
993   PID-0994  63.0   Other   166.4   148.1         O-        215.3

     Blood_Pressure_h  Blood_Pressure_l  Diabetes  Smoker
2               105.0              75.0      True    True
5                 NaN               NaN      True   False
6               109.0              75.0      True    True
11              122.0              85.0      True    True
14               93.0              88.0     False   False
..                ...               ...       ...     ...
976             104.0              72.0     False   False
977             115.0              84.0     False    True
986             134.0              81.0      True   False
987             116.0              84.0     False    True
993             109.0              81.0      True   False

[285 rows x 11 columns]

In [ ]:
# Renames one of the columns of the data frame

patients = patients.rename(columns={"Patient ID": "Patient_ID"})

print(patients.head(5))

  Patient_ID   Age  Gender  Height  Weight Blood_Type  Cholesterol  \
0   PID-0001  69.0    Male   177.1   146.6         A-        220.2
1   PID-0002   NaN    Male   192.1   105.8         B+          NaN
2   PID-0003  89.0   Other   174.2    84.7         O+        136.3
3   PID-0004  78.0  Female   141.8   108.0        AB-        147.8
4   PID-0005  38.0    Male   195.9    63.9         A-        224.2

   Blood_Pressure_h  Blood_Pressure_l  Diabetes  Smoker
0             138.0              84.0     False   False
1              99.0              81.0     False   False
2             105.0              75.0      True    True
3              97.0              88.0      True   False
4             128.0              87.0     False   False

In [ ]:
# Adds a new column (BMI) to the data frame

patients["Height"] = patients["Height"] / 100

patients["BMI"] = patients["Weight"] / patients["Height"] ** 2

print(patients.head(5))

  Patient_ID   Age  Gender  Height  Weight Blood_Type  Cholesterol  \
0   PID-0001  69.0    Male   1.771   146.6         A-        220.2
1   PID-0002   NaN    Male   1.921   105.8         B+          NaN
2   PID-0003  89.0   Other   1.742    84.7         O+        136.3
3   PID-0004  78.0  Female   1.418   108.0        AB-        147.8
4   PID-0005  38.0    Male   1.959    63.9         A-        224.2

   Blood_Pressure_h  Blood_Pressure_l  Diabetes  Smoker        BMI
0             138.0              84.0     False   False  46.740876
1              99.0              81.0     False   False  28.670214
2             105.0              75.0      True    True  27.911753
3              97.0              88.0      True   False  53.711996
4             128.0              87.0     False   False  16.650680

In [ ]:
# Removes a column from the data frame

patients = patients.drop("Height", axis=1)

print(patients.head(5))

  Patient_ID   Age  Gender  Weight Blood_Type  Cholesterol  Blood_Pressure_h  \
0   PID-0001  69.0    Male   146.6         A-        220.2             138.0
1   PID-0002   NaN    Male   105.8         B+          NaN              99.0
2   PID-0003  89.0   Other    84.7         O+        136.3             105.0
3   PID-0004  78.0  Female   108.0        AB-        147.8              97.0
4   PID-0005  38.0    Male    63.9         A-        224.2             128.0

   Blood_Pressure_l  Diabetes  Smoker        BMI
0              84.0     False   False  46.740876
1              81.0     False   False  28.670214
2              75.0      True    True  27.911753
3              88.0      True   False  53.711996
4              87.0     False   False  16.650680

In [ ]:
# Remove all smokers from the data frame and reset indexes

patients = patients[patients['Smoker'] != True]

patients = patients.reset_index(drop=True)

print(patients)

    Patient_ID   Age  Gender  Weight Blood_Type  Cholesterol  \
0     PID-0001  69.0    Male   146.6         A-        220.2
1     PID-0002   NaN    Male   105.8         B+          NaN
2     PID-0004  78.0  Female   108.0        AB-        147.8
3     PID-0005  38.0    Male    63.9         A-        224.2
4     PID-0006  92.0   Other    94.4         O-        231.2
..         ...   ...     ...     ...        ...          ...
501   PID-0994  63.0   Other   148.1         O-        215.3
502   PID-0995  29.0  Female   115.0         A-        232.9
503   PID-0997  79.0  Female   121.5         B+        209.0
504   PID-0998  99.0  Female     NaN         B+        216.6
505   PID-0999  77.0  Female    55.3         B+        221.4

     Blood_Pressure_h  Blood_Pressure_l  Diabetes  Smoker        BMI
0               138.0              84.0     False   False  46.740876
1                99.0              81.0     False   False  28.670214
2                97.0              88.0      True   False  53.711996
3               128.0              87.0     False   False  16.650680
4                 NaN               NaN      True   False  28.687812
..                ...               ...       ...     ...        ...
501             109.0              81.0      True   False  53.487022
502             131.0              81.0     False   False  46.008079
503             117.0              62.0     False   False  52.796498
504             132.0              70.0     False   False        NaN
505             120.0              76.0     False   False  21.467183

[506 rows x 11 columns]

In [ ]:
# Lists the number of NaNs (not a numbers) in the data frame

print(patients.isna().sum())

Patient_ID          18
Age                 12
Gender              15
Weight               7
Blood_Type           9
Cholesterol         10
Blood_Pressure_h    13
Blood_Pressure_l    13
Diabetes             0
Smoker               0
BMI                 23
dtype: int64

In [ ]:
# Removes all rows that have NaNs in the Patient_ID column

patients = patients.dropna(subset=['Patient_ID'])

patients = patients.reset_index(drop=True)

print(patients)

    Patient_ID   Age  Gender  Weight Blood_Type  Cholesterol  \
0     PID-0001  69.0    Male   146.6         A-        220.2
1     PID-0002   NaN    Male   105.8         B+          NaN
2     PID-0004  78.0  Female   108.0        AB-        147.8
3     PID-0005  38.0    Male    63.9         A-        224.2
4     PID-0006  92.0   Other    94.4         O-        231.2
..         ...   ...     ...     ...        ...          ...
483   PID-0994  63.0   Other   148.1         O-        215.3
484   PID-0995  29.0  Female   115.0         A-        232.9
485   PID-0997  79.0  Female   121.5         B+        209.0
486   PID-0998  99.0  Female     NaN         B+        216.6
487   PID-0999  77.0  Female    55.3         B+        221.4

     Blood_Pressure_h  Blood_Pressure_l  Diabetes  Smoker        BMI
0               138.0              84.0     False   False  46.740876
1                99.0              81.0     False   False  28.670214
2                97.0              88.0      True   False  53.711996
3               128.0              87.0     False   False  16.650680
4                 NaN               NaN      True   False  28.687812
..                ...               ...       ...     ...        ...
483             109.0              81.0      True   False  53.487022
484             131.0              81.0     False   False  46.008079
485             117.0              62.0     False   False  52.796498
486             132.0              70.0     False   False        NaN
487             120.0              76.0     False   False  21.467183

[488 rows x 11 columns]

In [ ]:
# Reads and concatenates two data frames
URL_1 = "https://raw.githubusercontent.com/Nezu-life/Machine_Learning_Course_English/main/Intro_to_Python/datasets/synthetic_patient_records.csv"
URL_2 = "https://raw.githubusercontent.com/Nezu-life/Machine_Learning_Course_English/main/Intro_to_Python/datasets/synthetic_patient_records_b.csv"

patients_1 = pd.read_csv(URL_1, sep=",")
patients_2 = pd.read_csv(URL_2, sep=",")

patients_final = pd.concat([patients_1, patients_2])

patients_final = patients_final.reset_index(drop=True)

print(patients_final.shape)

print(patients_final.head(5))

(2000, 12)
  Patient ID   Age  Gender  Height  Weight Blood_Type  Cholesterol  \
0   PID-0001  69.0    Male   177.1   146.6         A-        220.2
1   PID-0002   NaN    Male   192.1   105.8         B+          NaN
2   PID-0003  89.0   Other   174.2    84.7         O+        136.3
3   PID-0004  78.0  Female   141.8   108.0        AB-        147.8
4   PID-0005  38.0    Male   195.9    63.9         A-        224.2

   Blood_Pressure_h  Blood_Pressure_l  Diabetes  Smoker Blood_Pressure
0             138.0              84.0     False   False            NaN
1              99.0              81.0     False   False            NaN
2             105.0              75.0      True    True            NaN
3              97.0              88.0      True   False            NaN
4             128.0              87.0     False   False            NaN

In [ ]:
# Question of lesson
patients = patients.drop("Weight", axis=1)

print(patients.head(5))

  Patient_ID   Age  Gender Blood_Type  Cholesterol  Blood_Pressure_h  \
0   PID-0001  69.0    Male         A-        220.2             138.0
1   PID-0002   NaN    Male         B+          NaN              99.0
2   PID-0004  78.0  Female        AB-        147.8              97.0
3   PID-0005  38.0    Male         A-        224.2             128.0
4   PID-0006  92.0   Other         O-        231.2               NaN

   Blood_Pressure_l  Diabetes  Smoker        BMI
0              84.0     False   False  46.740876
1              81.0     False   False  28.670214
2              88.0      True   False  53.711996
3              87.0     False   False  16.650680
4               NaN      True   False  28.687812