In [ ]:
# Data Science for Medicine and Biology
#
# Nezu Life Sciences
#
# Feel free to modify, redistribute and above all,
# create something with this code.
#
# Tiago Lopes, PhD
# March 2024

# Import a large dataset from the Nezu Life Sciences repository
# Print its "shape" (number of rows and columns)
# and its first 5 rows.

import pandas as pd

URL = "https://raw.githubusercontent.com/Nezu-life/Machine_Learning_Course_English/main/Intro_to_Python/datasets/synthetic_patient_records.csv"

patients = pd.read_csv(URL, sep=",")

print(patients.head(5))

  Patient ID   Age  Gender  Height  Weight Blood_Type  Cholesterol  \
0   PID-0001  69.0    Male   177.1   146.6         A-        220.2
1   PID-0002   NaN    Male   192.1   105.8         B+          NaN
2   PID-0003  89.0   Other   174.2    84.7         O+        136.3
3   PID-0004  78.0  Female   141.8   108.0        AB-        147.8
4   PID-0005  38.0    Male   195.9    63.9         A-        224.2

   Blood_Pressure_h  Blood_Pressure_l  Diabetes  Smoker
0             138.0              84.0     False   False
1              99.0              81.0     False   False
2             105.0              75.0      True    True
3              97.0              88.0      True   False
4             128.0              87.0     False   False

In [ ]:
# Group by Gender, then get the max weight values

print(patients.groupby(["Gender"]).Weight.max())

Gender
Female    149.8
Male      149.9
Other     149.4
Name: Weight, dtype: float64

In [ ]:
# Group by Blood_Type, then get the mean weight values

print(patients.groupby(["Blood_Type"]).Weight.mean())

Blood_Type
A+     149.8
A-     147.9
AB+    148.5
AB-    149.8
B+     149.6
B-     149.9
O+     148.1
O-     148.1
Name: Weight, dtype: float64

In [ ]:
# Group by Blood_Type and Gender, then get the mean weight values

print(patients.groupby(["Gender", "Blood_Type"]).Weight.mean())

Gender  Blood_Type
Female  A+            109.524444
        A-            103.883333
        AB+            96.589744
        AB-           108.506977
        B+            104.064103
        B-             97.834483
        O+            101.183333
        O-             97.419565
Male    A+             89.861765
        A-             94.711111
        AB+           108.038235
        AB-            94.100000
        B+            102.482857
        B-             95.390476
        O+            106.136364
        O-            100.478431
Other   A+             97.319355
        A-            105.244737
        AB+            99.071429
        AB-           102.797561
        B+             98.362500
        B-             95.875758
        O+             95.831111
        O-             93.752083
Name: Weight, dtype: float64

In [ ]:
# Sort dataset by the Age feature

print(patients.sort_values(by="Age"))

    Patient ID   Age  Gender  Height  Weight Blood_Type  Cholesterol  \
859   PID-0860  18.0   Other   170.4   122.3        NaN        140.3
663   PID-0664  18.0   Other   179.3    69.9         O-        149.8
592   PID-0593  18.0    Male   146.9    90.4         A-        154.0
154   PID-0155  18.0   Other   171.1   101.1         O-        199.7
900   PID-0901  18.0    Male   194.8    92.5         B-        165.8
..         ...   ...     ...     ...     ...        ...          ...
742   PID-0743   NaN  Female   173.6    82.7         O+        182.5
803   PID-0804   NaN   Other   192.7    83.7         O+        223.4
838   PID-0839   NaN  Female   151.8    70.3         O+          NaN
924   PID-0925   NaN   Other   156.5   127.8         A+        197.1
963   PID-0964   NaN    Male   170.3   128.4        AB+        139.9

     Blood_Pressure_h  Blood_Pressure_l  Diabetes  Smoker
859             116.0              69.0      True   False
663             107.0              81.0      True    True
592              97.0              82.0      True    True
154             115.0              67.0     False    True
900             119.0              64.0     False   False
..                ...               ...       ...     ...
742             132.0              84.0      True    True
803              99.0              76.0      True   False
838             111.0              63.0      True    True
924             130.0              69.0     False    True
963             139.0              70.0     False   False

[1000 rows x 11 columns]

In [ ]:
# Sort the dataset by Age and Cholesterol

print(patients.sort_values(by=["Age", "Cholesterol"]))

    Patient ID   Age  Gender  Height  Weight Blood_Type  Cholesterol  \
233   PID-0234  18.0    Male   148.0    83.7        NaN        136.0
859   PID-0860  18.0   Other   170.4   122.3        NaN        140.3
646   PID-0647  18.0   Other   178.1    60.2         B-        147.9
663   PID-0664  18.0   Other   179.3    69.9         O-        149.8
749   PID-0750  18.0    Male   198.6   105.3        AB-        150.0
..         ...   ...     ...     ...     ...        ...          ...
338        NaN   NaN  Female   171.1   149.5         A+        216.4
803   PID-0804   NaN   Other   192.7    83.7         O+        223.4
684   PID-0685   NaN  Female   193.4   111.7         A+        234.3
1     PID-0002   NaN    Male   192.1   105.8         B+          NaN
838   PID-0839   NaN  Female   151.8    70.3         O+          NaN

     Blood_Pressure_h  Blood_Pressure_l  Diabetes  Smoker
233             124.0              73.0      True    True
859             116.0              69.0      True   False
646              96.0              63.0     False   False
663             107.0              81.0      True    True
749              95.0              70.0      True    True
..                ...               ...       ...     ...
338             128.0              77.0      True    True
803              99.0              76.0      True   False
684              96.0              73.0      True   False
1                99.0              81.0     False   False
838             111.0              63.0      True    True

[1000 rows x 11 columns]

In [ ]:
# Sort the dataset by Age and Cholesterol. Decreasing order.

print(patients.sort_values(by=["Age", "Cholesterol"], ascending=False))

    Patient ID   Age  Gender  Height  Weight Blood_Type  Cholesterol  \
997   PID-0998  99.0  Female   143.5     NaN         B+        216.6
255   PID-0256  99.0    Male   178.4    62.0         A+        190.3
221   PID-0222  99.0    Male   192.1   121.3         O+        173.3
743   PID-0744  99.0    Male   146.7    85.4         A+        172.9
625   PID-0626  99.0    Male     NaN   144.7        AB+        169.3
..         ...   ...     ...     ...     ...        ...          ...
601   PID-0602   NaN   Other   149.9     NaN         B-        138.5
216   PID-0217   NaN   Other   195.8   115.2         O+        131.4
191   PID-0192   NaN   Other   171.3   128.2        AB-        131.3
1     PID-0002   NaN    Male   192.1   105.8         B+          NaN
838   PID-0839   NaN  Female   151.8    70.3         O+          NaN

     Blood_Pressure_h  Blood_Pressure_l  Diabetes  Smoker
997             132.0              70.0     False   False
255              92.0              81.0     False   False
221             123.0              68.0     False    True
743             123.0              64.0      True   False
625             105.0              86.0      True   False
..                ...               ...       ...     ...
601             131.0              79.0     False   False
216             123.0              63.0     False   False
191             115.0              64.0     False    True
1                99.0              81.0     False   False
838             111.0              63.0      True    True

[1000 rows x 11 columns]

In [ ]:
# Today's question

sorted_df = patients.groupby("Blood_Type").Weight.mean()

print(sorted_df)

Blood_Type
A+     100.059821
A-     101.168142
AB+    100.085586
AB-    101.592126
B+     101.697222
B-      97.220183
O+     101.430597
O-      97.154110
Name: Weight, dtype: float64