<a href="https://colab.research.google.com/github/Nezu-life/Data_Science_For_Medicine_and_Biology/blob/main/Colab_Notebooks/Python_Pandas_summarize_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data Science for Medicine and Biology
#
# Nezu Life Sciences
#
# Feel free to modify, redistribute and above all,
# create something with this code.
#
# Tiago Lopes, PhD
# March 2024

# Import a large dataset from the Nezu Life Sciences repository
# Print its "shape" (number of rows and columns)
# and its first 5 rows.

import pandas as pd

URL = "https://raw.githubusercontent.com/Nezu-life/Machine_Learning_Course_English/main/Intro_to_Python/datasets/synthetic_patient_records.csv"

patients = pd.read_csv(URL, sep=",")

print(patients.head(5))

  Patient ID   Age  Gender  Height  Weight Blood_Type  Cholesterol  \
0   PID-0001  69.0    Male   177.1   146.6         A-        220.2
1   PID-0002   NaN    Male   192.1   105.8         B+          NaN
2   PID-0003  89.0   Other   174.2    84.7         O+        136.3
3   PID-0004  78.0  Female   141.8   108.0        AB-        147.8
4   PID-0005  38.0    Male   195.9    63.9         A-        224.2

   Blood_Pressure_h  Blood_Pressure_l  Diabetes  Smoker
0             138.0              84.0     False   False
1              99.0              81.0     False   False
2             105.0              75.0      True    True
3              97.0              88.0      True   False
4             128.0              87.0     False   False

In [ ]:
# Summarize the info of the Age column
print(patients.describe())

              Age      Height      Weight  Cholesterol  Blood_Pressure_h  \
count  974.000000  977.000000  981.000000   982.000000        971.000000
mean    56.662218  169.838792  100.191335   179.088697        114.412976
std     23.373588   17.181778   28.987474    34.498199         14.472633
min     18.000000  140.100000   50.000000   120.000000         90.000000
25%     36.000000  155.400000   75.100000   148.900000        102.000000
50%     56.000000  170.400000  100.600000   178.650000        115.000000
75%     77.000000  184.200000  125.100000   209.000000        127.000000
max     99.000000  200.000000  149.900000   239.700000        139.000000

       Blood_Pressure_l
count        971.000000
mean          74.381050
std            8.441369
min           60.000000
25%           67.000000
50%           75.000000
75%           82.000000
max           89.000000

In [ ]:
# Prints the average of the cholesterol values

mean_cholesterol = patients["Cholesterol"].mean()

print(mean_cholesterol)

179.08869653767817

In [ ]:
# Compares the average cholesterol of male and female patients

male_chol = patients.loc[patients["Gender"] == "Male"]["Cholesterol"].mean()

female_chol = patients.loc[patients["Gender"] == "Female"]["Cholesterol"].mean()

print("Male: ", male_chol, "Female:", female_chol)

Male:  179.02037037037036 Female: 177.87407407407406

In [ ]:
# Print unique blood types

blood_types = patients['Blood_Type'].unique()

print(blood_types)

['A-' 'B+' 'O+' 'AB-' 'O-' 'AB+' 'B-' nan 'A+']

In [ ]:
# How often did each blood type occur in the dataset?

print(patients["Blood_Type"].value_counts())

O-     147
O+     138
AB-    130
A-     115
A+     114
B-     113
AB+    111
B+     110
Name: Blood_Type, dtype: int64

In [ ]:
# A question for this lesson

print(patients['Diabetes'].value_counts())

False    504
True     496
Name: Diabetes, dtype: int64